/*formateo*/

body {
    margin: 0px;
}

/*menu*/

.main-header {
    display: flex;
    align-items: center;
    background-image: url("../images/background-header.jpg");
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.site-identity img {
    width: 270px;
}

.main-header li {
    display: inline;
    padding: 15px 20px;
    font-family: "Teko";
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.main-header nav {
    align-self: flex-end;
}

/*fotos coders*/

.main-container section{
    display: flex;
    justify-content: center;

}

.file-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    margin: 50px;
}

.file-team img {
    width: 150px;
    border-radius: 99%;
    align-self: center;
}

.file-team-info h2 {
    text-align: center;
    font-family: "Teko";
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.file-team-info p {
    text-align: center;
    font-family: "Teko";
    font-size: 24px;
    font-weight: 400;
    color: #4717f6;
}
.file-team-info p:last-child {
    color: black;
}
/*footer*/

.main-footer {
    display: flex;
    align-items: center;
    background-image: url("../images/background-footer.jpg");
    padding: 35px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.footer-info {
    display: inline;
    font-family: "Teko";
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.footer-social-media a{
    padding: 0 20px;
}

.footer-social-media img {
    width: 35px;
}